body {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

#header {
  background: #152D35;
  width: 100%;
  height: 10%;
  text-align: center;
}

/*#container {*/
/*  background: #FFD700;*/
/*  margin: auto auto;*/
/*  text-align: center;*/
/*  width: 80%;*/
/*  height: 400px;*/
/*}*/

/*#navigation {*/
/*  background: #FE9798;*/
/*  width: 100%;*/
/*  height: 25px;*/
/*}*/

#sidebar {
  background: #345B63;
  float: left;
  width: 20%;
  height: 80%;
}

#content {
  background: #D4ECDD;
  text-align: center;
  color: lightgray;
  width: 100%;
  height: 80%;
}

/*#clear {*/
/*  clear: both;*/
/*}*/

#footer {
  background: #112031;
  float: bottom;
  width: 100%;
  height: 10%;
}

#error_block {
  text-align: center;
  float: top;
}

a {
  text-align: center;
  color: #FFFFFF;
}