html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#grad {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

tr {
  padding-left: 500%;
}

* {
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

table {
  border-spacing : 10px;
}

.content {
  justify-items: left;
}

header {
  color: black;
  background-color: white;
  text-align: center;
  font-family: cursive;
  font-size: larger;
  padding: 0;
  position: relative;
}

svg {
  height: 300px;
  width: 300px;
  background-color: white;
}

div>input[type=button] {
  color: white;
  background-color: blue;
  padding: 5%;
}

.buttonR:hover {
  color: black;
}

p::first-line {
  font-size: xx-large;
}

text+line{
  stroke: black;
}

img[src*="4"] {
  height: 15%;
  width: 15%;
}

img:hover {
  height: 25%;
  width: 25%;
}

#pointer {
  fill-opacity: 0.7;
  visibility: visible;
}
#rightSide {
  float: right;
  width: 150px;
  background-color: #bbb;
}

tr [type="button"]{
  background-color: lightgray;
}

td>#submitButton{
  background-color: green;
}
